<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Minu blogi</title>

  <link rel="stylesheet" href="css/xz.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="background-image">

  <!-- NAVBAR -->
  <nav class="navbar-glass">

    <a href="index.html" class="logo">Minu blogi</a>

    <ul class="menu">

      <li><a href="login.html">Login</a></li>
      <li><a href="index.html">Avaleht</a></li>
      <li><a href="#">Blogi</a></li>
      <li><a href="#">CV</a></li>
      <li><a href="#">Kontakt</a></li>
      <li><a href="profile.html">Profile</a></li>

    </ul>

  </nav>


  <!-- BLOG POSTS -->
  <section id="posts" class="mb-5 container">

    <h2 class="text-white text-center mb-5">
      Blogipostitused
    </h2>

    <div class="row g-4">

      <div class="col-md-4">
        <div class="card post-card shadow h-100">
          <div class="card-body text-center">

            <h5 class="card-title mb-3">
              Minu õpingud tarkvaraarendajana
            </h5>

            <p class="card-text">
              Õpin Kutsehariduskeskuses teisel kursusel.
              Meie õppekavas on Python, Java, JavaScript ning veebitehnoloogiad.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card post-card shadow h-100">
          <div class="card-body text-center">

            <h5 class="card-title mb-3">
              Minu hobid ja vaba aeg
            </h5>

            <p class="card-text">
              Mängin CS:GO-d, oskan kitarri mängida,
              monteerin videoid ning kasutan Photoshopi.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card post-card shadow h-100">
          <div class="card-body text-center">

            <h5 class="card-title mb-3">
              Minu tulevikuplaanid IT-valdkonnas
            </h5>

            <p class="card-text">
              Tahan saada professionaalseks tarkvaraarendajaks.
            </p>

          </div>
        </div>
      </div>

    </div>
  </section>

</div>

</body>
</html>
